@use './mixins';

$timer-height: 50px;

.main {
  position: relative;
  background-color: var(--foreground);
  box-shadow: var(--box-shadow);
  z-index: 3;
}

.main_controls {
  @include mixins.flexCenter(row);

  :global(.icon-btn) {
    flex: 1 1 auto;
    padding: 1em 1.5em;
  }
}

.timer {
  @include mixins.flexCenter(row);

  position: absolute;
  left: 0;
  height: 50px;
  width: 50%;
  overflow: hidden;
  font-family: 'Hubballi';
  font-size: 40px;
  background-color: var(--foreground);
  border-radius: 5px;
}
.top {
  top: -$timer-height;
  box-shadow: var(--sm-box-shadow);
}
.bottom {
  bottom: -$timer-height;
  box-shadow: var(--side-bottom-box-shadow);
}
