@use './mixins';

$timer-height: 50px;

.main {
  position: relative;
  background-color: var(--foreground);
  box-shadow: var(--box-shadow);
}

.main_controls {
  @include mixins.flexCenter(row);

  :global(.icon-btn) {
    padding: 0.5em 0.8em;
    margin-right: 10px;
    border-radius: 5px;
  }
}

.timer {
  @include mixins.flexCenter(row);

  position: absolute;
  left: 0;
  height: 50px;
  width: 50%;
  overflow: hidden;
  font-family: 'Hubballi';
  font-size: 40px;
  background-color: var(--foreground);
  box-shadow: var(--sm-box-shadow);
  border-radius: 5px;
}
.top {
  top: -$timer-height;
}
.bottom {
  bottom: -$timer-height;
}
