@use './mixins';

$grid_gap: 20px;

.main {
  display: grid;
  column-gap: $grid_gap;
  row-gap: $grid_gap;
  grid-template-columns: repeat(3, 1fr);
}

.tc-btn {
  @include mixins.flexCenter(column);
  @include mixins.outline(black);
}
