.main {
  background-color: var(--background);
}

.controls-ctn {
  display: flex;

  > :global(.icon-btn) {
    flex: 1 1 auto;
  }
}

.list_item {
  display: flex;
  background-color: var(--foreground);
}

.move_no {
  background-color: var(--background);
  padding: 5px 15px;
}

.moves_wrapper {
  padding: 5px 0;
  display: flex;
  column-gap: 10px;
}
